<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/main.css">
    <title>Multiplayer quiz game</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-47YGE53ZE3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-47YGE53ZE3');
    </script>


    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(87169454, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/87169454" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>

    <div class="preloader">
        <div class="loader"></div>
    </div>


    <div class="container" id="vapp">

        <div class="pop-up" v-if="user.selectedRoomId && !joinedRoomData.id">
            <div class="login">
                <form v-on:submit="joinRoomSubmit">
                    <input type="text" class="form-control" placeholder="Your name" v-model="user.name">
                    <button type="submit" class="btn btn-primary mt10">Start</button>
                    <a class="btn btn-cancel mt10" v-on:click="cancelJoin">Cancel</a>
                </form>
            </div>
        </div>

        <div class="box" v-if="!joinedRoomData.id">
            <p class="centered p20 big-text">Join a room</p>
            <div class="available-rooms p10">
                <div class="room mt10" v-if="rooms.length == 0" style="box-shadow:none;border:none;">No rooms yet. Create a room below.</div>
                <div class="room mt10" v-for="room in rooms" :key="room.id">
                    <p>{{ room.name }}</p>
                    <div style="display: flex;flex-direction: row; align-items: center;">
                        <p class="mr20">{{ room.currentPlayers }}/{{ room.maxPlayers }}</p>
                        <button class="btn btn-join" v-if="room.currentPlayers < room.maxPlayers" v-on:click="joinRoom(room.id)"><span>Join </span></button>
                        <span class="btn full-room" v-if="room.currentPlayers == room.maxPlayers">Full&nbsp;</span>
                    </div>
                </div>
            </div>


            <p class="centered p20 big-text">Create a room</p>
            <div class="create-room">
                <form v-on:submit="createRoom">
                    <input type="text" placeholder="Your name" class="form-control mt10" v-model="newRoom.owner">
                    <input type="text" placeholder="Room name" class="form-control mt10" v-model="newRoom.name">
                    <select v-model="newRoom.selectedCategory" class="form-control mt10">
                        <option value="">All categories</option>
                        <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
                    </select>
                    <select v-model="newRoom.difficulty" class="form-control mt10">
                        <option value="">All difficulties</option>
                        <option v-for="difficulty in difficulties" v-bind:value="difficulty">{{ difficulty }}</option>
                    </select>
                    <input type="number" placeholder="Max players" class="form-control mt10" v-model="newRoom.maxPlayers">
                    <button class="btn btn-primary mt10" type="submit"><span>Create </span></button>
                </form>
            </div>

        </div>

        <div class="box" v-if="joinedRoomData.id">

            <div class="preloader" v-if="!question.text">
                <div class="loader"></div>
            </div>

            <div class="player-statistics">
                <div class="player" v-for="player in joinedRoomData.players">
                    <span>{{ player.name }}</span>
                    <span class="score">{{ player.score }}</span>
                </div>
            </div>

            <h3 v-html="(question.id + 1) + '). ' + question.text" class="question-text"></h3>

            <div class="timer-line" v-bind:style="{ width: (((15 - timer) / 15 ) * 100) + '%' }"></div>  
            <!-- <div>{{timer}}</div> -->
            <div class="variants">
                <div class="variant mt10" v-bind:class="{  correct : (variantId == correctVariant), wrong : (variantId == selectedVariant && variantId != correctVariant) }" v-for="variant, variantId in question.variants" v-on:click="answer(question.id, variantId)">
                    <span v-html="variant"></span>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>