<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/main.css">
    <title>Multiplayer quiz game</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-47YGE53ZE3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-47YGE53ZE3');
    </script>


    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(87169454, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/87169454" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>

    <div class="preloader" style="z-index: 999999999999;">
        <div class="loader"></div>
    </div>


    <div class="container" id="vapp">

        <div class="pop-up" v-if="user.selectedRoomId && !joinedRoomData.id">
            <div class="login">
                <form v-on:submit="joinRoomSubmit">
                    <input type="text" class="form-control" placeholder="Your name" v-model="user.name">
                    <button type="submit" class="btn btn-primary mt10">Start</button>
                    <a class="btn btn-cancel mt10" v-on:click="cancelJoin">Cancel</a>
                </form>
            </div>
        </div>

        <div class="pop-up" v-if="avatarModal" style="z-index: 10000000;">
            <div class="avatars">
                <div class="row" v-for="i in [0, 1, 2, 3, 4]">
                    <div class="avatar user-picture" v-for="j in [0, 1, 2, 3, 4]" v-bind:style="{ backgroundPosition: `-${ i * 85 }px -${ j * 85 }px` }" v-on:click="setAvatar(i, j)"></div>
                </div>
                <button class="btn btn-cancel mt10" v-on:click="closeAvatarModal()">Close</button>
            </div>
        </div>

        <div class="box" v-if="!joinedRoomData.id">
            <p class="centered p20 big-text">Join a room</p>
            <div class="available-rooms p10">
                <div class="room mt10 no-rooms-yet" v-if="rooms.length == 0" style="">No rooms yet. Create a room below.</div>
                <div class="room mt10" v-for="room in rooms" :key="room.id">
                    <p>{{ room.name }}</p>
                    <div style="display: flex;flex-direction: row; align-items: center;">
                        <p class="mr20">{{ room.currentPlayers }}/{{ room.maxPlayers }}</p>
                        <button class="btn btn-join" v-if="room.currentPlayers < room.maxPlayers" v-on:click="joinRoom(room.id)"><span>Join </span></button>
                        <span class="btn full-room" v-if="room.currentPlayers == room.maxPlayers">Full&nbsp;</span>
                    </div>
                </div>
            </div>


            <p class="centered p20 big-text">Create a room</p>
            <div class="create-room">
                <form v-on:submit="createRoom">
                    <input type="text" placeholder="Your name" class="form-control mt10" v-model="newRoom.owner">
                    <input type="text" placeholder="Room name" class="form-control mt10" v-model="newRoom.name">
                    <select v-model="newRoom.selectedCategory" class="form-control mt10">
                        <option value="">All categories</option>
                        <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
                    </select>
                    <select v-model="newRoom.difficulty" class="form-control mt10">
                        <option value="">All difficulties</option>
                        <option v-for="difficulty in difficulties" v-bind:value="difficulty">{{ difficulty }}</option>
                    </select>
                    <input type="number" placeholder="Max players" class="form-control mt10" v-model="newRoom.maxPlayers">
                    <button class="btn btn-primary mt10" type="submit"><span>Create </span></button>
                </form>
            </div>

        </div>

        <div class="box" v-if="joinedRoomData.id">

            <div class="preloader" v-if="!question.text">
                <div class="player-statistics">
                    <div class="player" v-for="player in joinedRoomData.players" style="margin: 5px;">
                        <div class="user-picture" v-bind:style="{ backgroundPosition: player.picturePosition }">
                            <img class="change-avatar" v-if="user.id == player.id" v-on:click="openAvatarModal()" src="./images/change-avatar.png">
                        </div>
                        <span>{{ player.name }}</span>
                    </div>
                </div>
                <div class="loader"></div>
                <p v-if="joinedRoomData.players.length < joinedRoomData.maxPlayers">Waiting for other players to join &nbsp;<b style="font-size: 20px;">{{ joinedRoomData.players.length }}/{{ joinedRoomData.maxPlayers }}</b></p>
                <p v-if="joinedRoomData.players.length == joinedRoomData.maxPlayers">Game is starting...</p>
                <a href="" class="btn btn-cancel mt10">Cancel</a>
                <br>
                <p class="hint"><b>Hint:</b> for playing alone, create a game with <b>"Max players : 1"</b></p>
            </div>

            <div class="leaderboard" v-if="leaderBoard.length > 0">
                
                <h2>Game finished</h2>
                
                <hr>

                <div class="mt20" style="display: flex; justify-content: space-between; align-items: center; padding: 0px 12px; font-weight: bold; width: 100%; box-sizing: border-box;">
                    <p>Rank</p>
                    <p>Player</p>
                    <p>Score</p>
                </div>

                <div class="leaderboard-player mt10" v-for="player in leaderBoard">
                    <div class="player-rank">
                        <img v-if="player.rank < 4" v-bind:src="'./images/rank-' + player.rank +  '.png'" alt="" class="medal">
                        <p class="non-medal-rank" v-if="player.rank >= 4">{{ player.rank }}</p>
                    </div>
                    <div class="player-name">
                        <div class="user-picture" v-bind:style="{ backgroundPosition: player.picturePosition }"></div>
                        <span style="margin-left: 10px;">{{ player.name }}</span>
                    </div>
                    <div class="player-score">{{ player.score }}</div>
                </div> 

                <div class="mt20">
                    <div class="mt20">
                        <a href="" class="btn btn-primary">Home ></a>
                    </div>
                </div>
            </div>

            <div class="player-statistics">
                <div class="player" v-for="player in joinedRoomData.players">
                    <div class="user-picture" v-bind:style="{ backgroundPosition: player.picturePosition }">
                        <span class="score">{{ player.score }}</span>
                        <img class="change-avatar" v-if="user.id == player.id" v-on:click="openAvatarModal()" src="./images/change-avatar.png">
                    </div>
                    <span>{{ player.name }}</span>
                </div>
            </div>

            <h3 v-html="(question.id + 1) + '). ' + question.text" class="question-text"></h3>

            <div class="timer-line" v-bind:style="{ width: (((15 - timer) / 15 ) * 100) + '%' }"></div>  
            <!-- <div>{{timer}}</div> -->
            <div class="variants">
                <div class="variant mt10" v-bind:class="{  correct : (variantId == correctVariant), wrong : (variantId == selectedVariant && variantId != correctVariant) }" v-for="variant, variantId in question.variants" v-on:click="answer(question.id, variantId)">
                    <span v-html="['A', 'B', 'C', 'D'][variantId] + ') ' "></span>
                    <span v-html="variant"></span>
                </div>
            </div>
            
            <hr class="mt20">
            
            <p class="mt10 hint" style="text-align: left;">Total <b>10</b> questions</p>

        </div>
    </div>

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>